<%- include('partials/header.ejs')-%>

    <body class="bg">
        <%- include('partials/navbar.ejs')-%>
            <div class="container">
                <hr>
                <div class="card">
                    <div class="card-body">
                        <h1>
                            <%= pergunta.titulo %>
                        </h1>
                        <br>
                        <p>
                            <%= pergunta.descricao %>
                        </p>
                        <form action="/responder" method="post">
                            <hr>
                            <textarea name="corpo" placeholder="Digite sua resposta" class="form-control"></textarea>
                            <br>
                            <input value="<%= pergunta.id %>" type="hidden" name="pergunta" id="">
                            <button type="submit" class="btn btn-primary">Responder</button>
                        </form>
                        <hr>
                        <h3>Respostas</h3>
                        <hr>
                        <% respostas.forEach(resposta => { %>
                            <br>
                            <div class="card">
                                <div class="card-body">
                                    <p>
                                        <%= resposta.corpo %>
                                    </p>

                                </div>
                            </div>
                            <% }) %>

                                <br>
                    </div>
                </div>
            </div>
    </body>

    <%- include('partials/footer.ejs')-%>